.cart_item {
  border-radius: 20px;
  background-color: burlywood;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 5px 30px;
  margin: 10px 0;
}


.cart_item_price {
  background-color: cadetblue;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  width: 60px;
  height: 20px;
}